# Tarefa 02

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.9.7

In [3]:
import pandas as pd
import numpy as np

In [3]:
# Versões dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark --iversions

numpy : 1.24.1
pandas: 1.5.3

In [8]:
# Criando valores pseudo-aleátorios para cada variável e usando a semente para obtermos os mesmos valores
np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [9]:
numero_questoes = [24, 18, 8, 8, 8, 12, 12 ]

In [33]:
# Juntando todas as matérias em um único DataFrame
df = df_mat
df= df.rename(columns={'Qt_acertos':'matemática'})
df['português'] = df_por
df['geografia'] = df_geo
df['inglês'] = df_ing
df['história'] = df_his
df['física'] = df_fis
df['química'] = df_qui
df['Total_Acertos'] = (df['matemática'] + df['português'] + 
                       df['geografia'] + df['inglês'] + 
                       df['história'] + df['física'] + 
                       df['química'])
df.head()

,matemática,português,geografia,inglês,história,física,química,Total_Acertos
0,6,7,7,3,1,8,3,35
1,19,10,0,0,0,11,8,48
2,14,16,0,5,7,4,4,50
3,10,7,3,4,0,0,8,32
4,7,2,2,7,0,9,3,30

In [36]:
# 1) Calcule o percentual de acerto dos alunos por assunto.
# 2) Calcule o total de acertos de cada aluno.
# 3) Calcule o porcentual geral de cada aluno

numero_questoes = 24 + 18 + 8 + 8 + 8 + 12 + 12

df['Total_Acertos_%'] = round((df['Total_Acertos'] / 90 * 100), 2)
df.head(10)

,matemática,português,geografia,inglês,história,física,química,Total_Acertos,Total_Acertos_%
0,6,7,7,3,1,8,3,35,38.89
1,19,10,0,0,0,11,8,48,53.33
2,14,16,0,5,7,4,4,50,55.56
3,10,7,3,4,0,0,8,32,35.56
4,7,2,2,7,0,9,3,30,33.33
5,20,2,5,3,2,9,9,50,55.56
6,6,0,7,7,5,0,4,29,32.22
7,18,4,4,7,7,1,8,49,54.44
8,22,9,2,7,6,5,7,58,64.44
9,10,6,3,6,4,8,2,39,43.33

In [14]:
# 4) Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

total_acerto_alunos[total_acerto_alunos > 45].count()

Qt_acertos    31
dtype: int64

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [39]:
# 1) Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. 
# Monte um novo DataFrame com os alunos desqualificados por este critério.

df_desqualificados = df[ (df['matemática'] == 0) |
                         (df['física'] == 0) |
                         (df['química'] == 0) ]

df_desqualificados.head(5)

,matemática,português,geografia,inglês,história,física,química,Total_Acertos,Total_Acertos_%
3,10,7,3,4,0,0,8,32,35.56
6,6,0,7,7,5,0,4,29,32.22
10,10,8,3,2,1,7,0,31,34.44
12,20,8,3,7,1,0,3,42,46.67
14,7,11,1,7,1,4,0,31,34.44

In [40]:
# 2) Quantos são esses alunos?

df_eliminados.count()

Qt_acertos    23
dtype: int64

In [42]:
# 3) Qual a média desses alunos em história e geografia?

print(f'Média História: {df_desqualificados["história"].mean():.2}')
print(f'Média Geografia: {df_desqualificados["geografia"].mean():.2}')

Média História: 3.4
Média Geografia: 3.2

In [44]:
# 4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. 
# Repare que estes alunos não podem ter sido desqualificados.

df_aprovados = df[(df['matemática']!=0) & (df['física'] != 0) & (df['química'] != 0)]
df_aprovados.head()

,matemática,português,geografia,inglês,história,física,química,Total_Acertos,Total_Acertos_%
0,6,7,7,3,1,8,3,35,38.89
1,19,10,0,0,0,11,8,48,53.33
2,14,16,0,5,7,4,4,50,55.56
4,7,2,2,7,0,9,3,30,33.33
5,20,2,5,3,2,9,9,50,55.56

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?

In [4]:
# Carrega o dataset
vac_acre = pd.read_csv('registros de vacinacao covid ACRE.csv', sep =';')
vac_acre.head()

,document_id,paciente_id,paciente_idade,paciente_datanascimento,paciente_enumsexobiologico,paciente_racacor_codigo,paciente_racacor_valor,paciente_endereco_coibgemunicipio,paciente_endereco_copais,paciente_endereco_nmmunicipio,...,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataaplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem,data_importacao_rnds,id_sistema_origem
0,b19cd280-474c-4c22-a35d-8c06bc04a4e0-i0b0,2e091c9a37d3f50d1d705fc80c6448c6fc69b44da9e936...,69,1951-12-28,F,3,PARDA,120050.0,10.0,SENA MADUREIRA,...,210052A,FUNDACAO BUTANTAN,Organization/61189445000156,2021-03-23,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-03-25T03:27:19.000Z,NaN
1,a1acc0b6-1cf6-4c4b-adcb-06b473a0faaf-i0b0,f4e17a9e5354cb45e223d85eda02fb2f76048c801675f5...,81,1939-11-22,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,210110,FUNDACAO BUTANTAN,Organization/61189445000156,2021-04-29,2ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-04-30T16:03:14.000Z,NaN
2,af279a98-ba1f-47ea-8214-314a98040b0d-i0b0,6734b26bccf826130ebffa66575977bbe71477b12bcf42...,69,1951-08-14,M,4,AMARELA,120020.0,10.0,CRUZEIRO DO SUL,...,210135,FUNDACAO BUTANTAN,Organization/61189445000156,2021-04-16,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-04-16T15:54:39.000Z,NaN
3,4879308e-5050-46bb-b8e2-11fa5646a05c-i0b0,84a341fd350c1ba7117fccbb4d2df417bc0fac0fffac37...,51,1969-12-15,F,3,PARDA,120040.0,10.0,RIO BRANCO,...,202010040,FUNDACAO BUTANTAN,Organization/61189445000156,2021-02-19,2ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-03-10T14:40:54.000Z,NaN
4,000e911b-e3a4-4114-a735-d1f2e6e3797f-i0b0,c59571e19f368d4b0cf08cd3bcabb32e5cd8baad5340f6...,65,1955-11-21,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,212VCD001ZVB,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-03-29,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-04-03T19:44:28.000Z,NaN

In [5]:
# 1) Quantas vacinas estão registradas nessa base?

vac_acre.shape[0]

169071

In [6]:
# 2) Quantos pacientes foram vacinados? (considere um paciente para cada valor único de paciente_id)
 
vac_acre['paciente_id'].nunique()

120517

In [8]:
# 3) Quantos pacientes únicos tomaram a primeira dose? 
# OBS: Há um caractere especial neste campo. Receba os valores do campo com o método .unique().

primeira_dose = vac_acre['vacina_descricao_dose'].unique()[0]
vac_acre['paciente_id'].loc[vac_acre['vacina_descricao_dose'] == primeira_dose].nunique()

119713

In [9]:
# 4) Quantos pacientes com menos de 18 anos foram vacinados?

vac_acre_menor = vac_acre[vac_acre["paciente_idade"]<18]
vac_acre_menor['paciente_id'].nunique()

47

In [10]:
# 5) Quantos estabelecimentos aplicaram vacina no Acre?

vac_acre['estabelecimento_razaosocial'].nunique()

42

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vacinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [11]:
# 1) crie uma cópia do DataFrame original, contendo somente os registros de vacinas realizadas a menores de 18 anos.

df_menor_copy = vac_acre[vac_acre['paciente_idade']<18].copy()

In [12]:
# 2) crie uma lista das colunas desse DataFrame com o atributo de DataFrame .columns()

df_menor_copy.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_datanascimento', 'paciente_enumsexobiologico',
       'paciente_racacor_codigo', 'paciente_racacor_valor',
       'paciente_endereco_coibgemunicipio', 'paciente_endereco_copais',
       'paciente_endereco_nmmunicipio', 'paciente_endereco_nmpais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumnacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoatendimento_codigo',
       'vacina_grupoatendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataaplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem', 'data_importacao_rnds', 'id_sistema_origem'],
      dtype='object')

In [13]:
# 3) Nesse DataFrame faça uma contagem do campo vacina_categoria_nome.

df_menor_copy['vacina_categoria_nome'].value_counts()

Povos Indígenas                     33
Trabalhadores de Saúde               9
Povos e Comunidades Tradicionais     9
Comorbidades                         2
Faixa Etária                         1
Name: vacina_categoria_nome, dtype: int64

In [14]:
# 4) a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, 
# faça uma lista com esses valores.

lista = ['estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']

In [15]:
# 5) usando o método .loc, selecione somente essas variáveis

df_menor_lista = df_menor_copy.loc[:,lista]
df_menor_lista.head()

,estabelecimento_valor,estabelecimento_razaosocial,estalecimento_nofantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
1567,2001314,PREFEITURA MUNICIPAL DE EPITACIOLANDIA,ESF JOAO ALVES DA SILVA,120025,EPITACIOLANDIA,AC
6250,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
9569,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
11338,2000040,PREFEITURA MUNICIPAL DE FEIJO,CENTRO DE SAUDE DIAMANTINO MACEDO,120030,FEIJO,AC
15144,7625855,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,POLO BASE DE MARECHAL THAUMATURGO,120035,MARECHAL THAUMATURGO,AC

In [26]:
# 6) Aplique o método .drop_duplicates e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.head()

,estabelecimento_valor,estabelecimento_razaosocial,estalecimento_nofantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
1567,2001314,PREFEITURA MUNICIPAL DE EPITACIOLANDIA,ESF JOAO ALVES DA SILVA,120025,EPITACIOLANDIA,AC
6250,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
9569,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
11338,2000040,PREFEITURA MUNICIPAL DE FEIJO,CENTRO DE SAUDE DIAMANTINO MACEDO,120030,FEIJO,AC
15144,7625855,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,POLO BASE DE MARECHAL THAUMATURGO,120035,MARECHAL THAUMATURGO,AC